Source: bbb-plugin-media-popout
Section: web
Priority: extra
Maintainer: Anton Georgiev <anton.georgiev@blindsidenetworks.com>
Build-Depends: debhelper (>= 13), nodejs (>= 18)
Standards-Version: 4.1.4
Homepage: https://github.com/bigbluebutton/bbb-plugin-media-popout

Package: bbb-plugin-media-popout
Architecture: all
Depends: ${misc:Depends}, nodejs
Description: Popout webcam and screenshare video streams
 An official BigBlueButton plugin which allows
 users to pop out webcam and screenshare video
 streams into separate browser windows.
